<main class="container">
  <div class="header">
    <h1>BriteCo Items</h1>
    <%= link_to "+ 1 item",
                new_item_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @items %>
</main>